html,
body {
  margin: 0;
  padding: 0;
  background-color: #3d2b1f;
  font-family: Georgia, serif;
  color: #e5c04b;
}

.puzzle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
}

.game-title {
  font-size: 36px;
}

.pause-btn {
  font-size: 50px;
  color: #d9b026;
  text-decoration: none !important;
  cursor: pointer;
}

.room-title {
  text-align: center;
  font-size: 42px;
  margin-top: -10px;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.puzzle-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.puzzle-card {
  background: #2d1f14;
  width: 260px;
  padding: 25px 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}

.puzzle-level {
  font-size: 20px;
  margin-bottom: 20px;
}

.puzzle-icon {
  width: 110px;
  height: 110px;
  margin-bottom: 25px;
  object-fit: contain;
}

.puzzle-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 0;
  width: 90%;
  background: #d9b026;
  color: black;
  font-size: 20px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
}