.user-icon {
  width: 28px;
  position: absolute;
  left: 25px;
  top: 50%;
}

body {
  margin: 0;
  background: #3d2b1f;
  font-family: 'Georgia', serif;
  color: #e5c04b;
}

.center-panel {
  width: 600px;
  max-width: 90%;
  background: #3a2918;
  margin: 80px auto;
  padding: 50px 60px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
}

h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  color: #e5c04b;
}

.button {
  display: block;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  margin-left: -2%;
  font-size: 26px;
  color: black;
  background: #d9b026;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Georgia', serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}


.button:hover {
  background: #e1bc3b;
}


.button-row {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.auth-panel {
  width: 600px;
  max-width: 90%;
  background: #3a2918;
  margin: 80px auto;
  padding: 50px 60px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.6);
  position: relative;
}

.auth-title {
  font-size: 44px;
  margin-bottom: 40px;
  font-weight: bold;
}

.auth-gear {
  position: absolute;
  right: 40px;
  top: 35px;
  font-size: 48px;
  color: #d9b026;
}

.auth-input {
  width: 100%;
  padding: 20px 20px 20px 60px;
  font-size: 24px;
  border-radius: 18px;
  background: #2c1e12;
  border: 2px solid #d9b026;
  color: #e5c04b;
  margin-bottom: 25px;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #d9b026;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}


.auth-btn-primary {
  padding: 16px 40px;
  font-size: 24px;
  background: #d9b026;
  border: none;
  border-radius: 6px;
  color: black;
  font-family: Georgia;
  cursor: pointer;
}


.auth-btn-outline {
  padding: 14px 38px;
  font-size: 24px;
  border: 2px solid #d9b026;
  background: transparent;
  color: #d9b026;
  border-radius: 6px;
  cursor: pointer;
}


.auth-btn-primary:hover {
  background: #e1bc3b;
}

.auth-btn-outline:hover {
  background: rgba(217, 176, 38, 0.15);
}

.rooms-container {
  padding: 40px;
  text-align: center;
}

.rooms-title {
  font-size: 48px;
  color: #e5c04b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Georgia, serif;
}

.rooms-subtitle {
  font-size: 24px;
  color: #e5c04b;
  margin-bottom: 40px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.logout-btn {
  background: #d9b026;
  padding: 10px 22px;
  border-radius: 6px;
  color: black;
  font-size: 22px;
  font-family: Georgia;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.gear-icon {
  width: 40px;
  cursor: pointer;
  user-select: none;
  padding-left: 90%;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-icon-inside {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  z-index: 10;
  padding-bottom: 20px;
  pointer-events: none;
}

.auth-input {
  width: 100%;
  padding: 18px 18px 18px 60px;
  background: #3a2918;
  border: 2px solid #d9b026;
  border-radius: 12px;
  font-size: 22px;
  color: #e5c04b;
  position: relative;
  z-index: 1;
}